:root{
    --poblack-color : #252525;
    --posilver-color : #ffffff;
    --white-color : #F4F4F4;
    --green-color : #4FC276;
    --green-color-70 : #4FC276B3;
    --green-color-30 : #4fc27530;
    --beige-color : #D8CCAD;
    --light-green-color : #4FC276;
}
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

#root{
    height: 100%;
    overflow: hidden;
}

.poWhole{
    background-color: var(--posilver-color);
    line-height: 180%;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: "NotoSansKR-Medium";
    /* word-spacing: 1px; */
    letter-spacing: 1px;
}
.poWhole ::selection{
    background-color: var(--green-color-30);
}
.poWhole  ul {
    padding-left: 20px;
}

.poWhole ul >li >ul>li {
    list-style-type: "- ";
}
.poWhole ul>li>ul {
    padding-left: 15px;
    margin: 10px 0 50px 0;
}
.poViewPort{
    display: flex;
    margin : auto;
    max-width: 768px;
    height: 100%;
}
.poMainFrame{
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: var(--posilver-color);
    color: var(--poblack-color);

}
.poNavBar{
    display: flex;
    width: 100%;
    height: 5%; /* 원래는 15% */
    justify-content: space-between;
    font-family: "NEXON";
    position: fixed;
    max-width: 768px;
    backdrop-filter: blur(1px); /*5px*/
    z-index: 20000;
}
.poButton{
    color: var(--poblack-color);
    text-decoration: none;
    font-family: "NEXON";
}
.poButton:hover{
    color:var(--green-color);

}
.poLink{
    display: flex;
    text-decoration: none;
    margin: auto;
    color: var(--poblack-color);
    /* color: var(--light-green-color); */
    width:100%;
    height:100%;
}
.poLink:hover{
    color: var(--green-color);
}
.poNavBar .poLink:hover{
    color: var(--poblack-color);
    text-decoration: underline;
}
.poNavBar .poLink:active{
    /* background-color: var(--silver-color); */
    background-color: transparent;
    /* color: var(--poblack-color); */
    color: var(--silver-color);
    border: 5px solid var(--green-color);
}
.poBody{
    padding-top: 120px;
}
.mobile{
    display: none;
}
.poTitleBox{
    display: flex;
    flex:end;
}

.poSubTitle{
    text-decoration:  underline 3px var(--green-color);
    text-underline-offset: 10px;
    margin : 10px 0;
    font-size: 28px;
    font-family: 'RobotoCondensed-Bold';
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    /* font-weight: bold; */
}
.poTitle{
    font-size: 1.4em;
    font-family: "NEXON";
    padding-bottom: 5px;
}
.photoIntro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoIntro .poTitle{
    font-size: 1.25em;
    font-family: "NEXON Lighter";
    margin :0 auto;
    text-align: center;
}
.leewayLink{
    display: flex;
    text-decoration: none;
    margin: auto;
    /* color: var(--silver-color); */
    color: var(--light-green-color);
    /* color : #ff9432; */
    width:100%;
    height:100%;
    font-family: 'Carter One';
    font-size: 1.5em;

}
.leewayLink:hover{
    color: var(--green-color);
}


/* About Page */
.poabout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    

}
.photoIntro{
    display: flex;
    /* justify-content: space-evenly; */
}

/* Project Page */
.poProjectImg{
    height: 450px;
    width: 100%;
}
.poStrongTest{
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Badge */
.badgeGreen{
    background-color: var(--green-color);
    /* color: var(--black-color) */
}

/* Noto Bold */
.NotoBold{
    font-family: 'NotoSansKR-Bold'; 
}
.nexon{
    font-family: 'NEXON'; 
}

.poUnderbar{
    text-decoration:  underline 3px var(--green-color);
    text-underline-offset: 10px;
}
.poGithubIcon{
    color: var(--black-color);
}
.poGithubIcon:hover{
    color: var(--green-color);
}
@media (max-width: 768px) {
    .poViewPort, .poNavBar{
        width: 100vw;
        padding-left: 3%;
        padding-right: 3%;
    }
    .mobile{
        display: block;
    }
    .mobile .menu:hover{
        color: var(--poblack-color);
    }
    .poLink{
        color: var(--posilver-color);
    }
    .pc{
        display: none;
    }
    .photoIntro{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .photoIntro .map-ml{
        margin: auto !important;
    }
    .photoIntro .poTitle{
        font-size: 1em;
        font-family: "NEXON Lighter";
        margin-top: 50px;
    }
    .poTitleBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /* Project Page */
}

