@font-face {
  font-family: 'NEXON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NEXON Lighter';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,body{
height: 100%;
  color : rgba(0, 0, 0, 0.615)
}

#root {
  height: 100%;
}
.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  height: 10px;
  background-color: var(--font-color)
}
.content {
  display: flex;
  flex: 1;
}
.main{
  display: flex;
  flex: 1;
  overflow: auto;
  background-color: var(--font-color);
  justify-content: center;
  align-items: center;
}

.flex-item{
  display: flex;
  flex : 1;
  overflow: auto;
}

.flex-container{
  display: flex;
  width: 100%;
  height: 100%;
}

.space-box{
  height : 10px;
  background-color: var(--dash-background-color);
}
.img-box{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

}
.chart-image{
  object-fit: fill;
  width: 100%;
  height: 0; /*뭐지 이렇게하니까 공간에 딱 맞네 */
  min-height: 100%; /*뭐지 이렇게하니까 공간에 딱 맞네 */
  /* padding : 5px 0px ; */
}
.map-image{
  object-fit: cover;
  width: 100%;
  height: 0; /*뭐지 이렇게하니까 공간에 딱 맞네 */
  min-height: 100%; /*뭐지 이렇게하니까 공간에 딱 맞네 */

}

.leaflet-container{
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
