:root{
    --font-color : #343A40;
    --dash-background-color : #FFFFFF;
    --gray-background-color : #F9FAFB;
}
@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);

@font-face {
    font-family: 'Carter One';
    src: local('Carter One'), url(./fonts/CarterOne-Regular.ttf) format('truetype');
  }
@font-face {
    font-family: 'NEXON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lighter';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.kopubbatang * {
 font-family: 'KoPub Batang', serif;
}
html,body{
	height: 100%;
    font-family: 'KoPub Batang';
    color : rgba(0, 0, 0, 0.615)
}

#root {
    height: 100%;
}
.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    height: 10px;
    background-color: var(--font-color)
  }
.content {
    display: flex;
    flex: 1;
}
.main{
    display: flex;
    flex: 1;
    overflow: auto;
    background-color: var(--font-color);
    justify-content: center;
    align-items: center;
}
.dash{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%; 
    background-color: var(--dash-background-color);
    box-shadow: 0px 0px 29px 14px rgba(0,0,0,0.15);
}
.space-box{
    height : 10px;
    background-color: var(--dash-background-color);
}
.img-box{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}
.chart-image{
    object-fit: fill;
    width: 100%;
    height: 0; /*뭐지 이렇게하니까 공간에 딱 맞네 */
    min-height: 100%; /*뭐지 이렇게하니까 공간에 딱 맞네 */
    /* padding : 5px 0px ; */
}
.map-image{
    object-fit: cover;
    width: 100%;
    height: 0; /*뭐지 이렇게하니까 공간에 딱 맞네 */
    min-height: 100%; /*뭐지 이렇게하니까 공간에 딱 맞네 */

}

.spacing{
    height: 20px;
    display: flex;
    flex:none;
}
.left-col::-webkit-scrollbar {
    display: none;
  }
.img-box::-webkit-scrollbar {
    display: none;
  }

.gray-box {
    background-color: var(--gray-background-color);
    border-radius: 5px;
}

.icon-gray{
    color: #545454a5;
}
.box-green{
    background-color :#35C768;
    border-radius: 5px;
}
.fs-7{
    font-size: 17px;
}



/*yarn add react-spinners select*/
.pie_legend{
    border-radius: 20px;
    width: 5px;
    height: 5px;
    display: flex;
}


/* react-select */
.react-select__single-value{
    color:#F5F5F5;
}
.react-select__placeholder{
    color: #F5F5F5;
}





/* 구조 세팅 */

.flex-item{
    display: flex;
    flex : 1;
    overflow: auto;
}
.flex-container{
    display: flex;
    width: 100%;
    height: 100%;
}

.total-col{
    flex-basis: 0px;
}
.total-col:nth-child(1){flex-grow: 0.01;}
.total-col:nth-child(2){flex-grow: 0.48;}
.total-col:nth-child(3){flex-grow: 0.01;}
.total-col:nth-child(4){flex-grow: 0.5;}

.left-col{
    flex-basis: 0px;
}
.left-col:nth-child(1) { flex-grow: 0.05; }
.left-col:nth-child(2) { flex-grow: 0.05; }
.left-col:nth-child(3) { flex-grow: 0.25; }
.left-col:nth-child(4) { flex-grow: 0.34; }
.left-col:nth-child(5) { flex-grow: 0.31; }

.left-col-thr-left:nth-child(1) { flex-grow: 0.5; }
.left-col-thr-left:nth-child(2) { flex-grow: 0.5; }

.left-col-four:nth-child(1) { flex-grow: 0.5; }
.left-col-four:nth-child(2) { flex-grow: 0.5; }



@media (min-width : 1400px){
    .dash{
        height: 100%;
        width: 85%;
    }
}
@media (min-width : 1800px){
    .dash{
        height: 100%;
        width: 80%;
    }
}
@media (min-width : 2100px){
    .dash{
        height: 100%;
        width: 70%;
    }
}