:root{
    --background-ml-color : #56667B;
    --title-ml-color : #DFDFDD;
    --search-ml-color : #f9fdff62;
    --text-ml-color : #ffffffb5;

}

@font-face {
    font-family: 'NEXON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.whole-ml{
    background-color: burlywood;
    font-family: 'NEXON';
    height: 100%;
}
.main-ml{
    background-color: var(--background-ml-color);
    width: 100vw;
    height: 100vh;
}
.title-ml{
    width: 100%;
    height: 100%;
    display: flex;
    flex-basis: 0px;
    
}
.title-ml .text {
    color: var(--title-ml-color);
    filter: drop-shadow(0px 2px 2px black);
}
.title-ml .icons{
    filter: drop-shadow(0px 2px 2px black);
}
.search-box{
    position: absolute;
    z-index: 100;
    width:100%;
    color: var(--text-ml-color);
}
.search-box-inner{
    background-color: var(--search-ml-color);
    border-radius: 20px;
    color: var(--text-ml-color);

} 
.search-box-inner .search-input{
    background-color : transparent;
    padding: 2px;
    width: 100%;
    border: none;
    box-shadow: none;
    color: var(--text-ml-color);
    font-size: 20px;
}
.search-box-inner .search-input::placeholder{
    color: var(--text-ml-color);
    font-size: 20px;
}
.search-box-inner .search-input:focus {
    outline-width: 0;
}

.map-ml{
    /* position: absolute; top:0; left: 0; */
    object-fit: fill; 
    width: 100%; 
    height: 100%;
}
.items-box{
    color : var(--text-ml-color);
    width: 100%;
}
.items-box .items-icons{
    width: 20px;
    height: 20px;
}


/* leaflet */
.leaflet-container{
    width: 100%;
    height: 100%;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
background: white;
box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

/* slick */
.slick-track{
    display: flex !important;
    align-items: flex-end;

}.mlcard{
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #0000006c;
    border-radius: 20px;
    font-size: 14px;
    color : var(--title-ml-color);
    filter: drop-shadow(0px 2px 2px black);
}
.card-recom{
    color: var(--title-ml-color);
    width: 95%;
    font-size: 16px;
    text-align: right;
    padding-right: 10px;
    letter-spacing: 2px;
}
/* react-modal */
.ReactModal__Content--after-open{
    width: 100vw
}



@media (min-width : 600px){
    .main-ml{
        width: 60vw;
        height: 80vh;
    }
    .mlcard{
        font-size: 16px;
    }
    .ReactModal__Content--after-open{
        width: 50vw
    }
    
}

@media (min-width : 1000px) {
    .main-ml{
        width: 45vw;
        height: 100vh;
    }
    .ReactModal__Content--after-open{
        width: 25vw
    }
    
    
@media (min-width: 1440px) {
    .main-ml{
        width: 32vw;
        height: 100vh;
    }
    
}
}